body {
    margin: 0;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(55, 49, 49);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

 

.center {
    padding-top: 50px;
    display: block;
    width: 540px;
    height: 500px;
    margin-left: auto;
    margin-right: auto; 
  }


/* 
img {
    background-color: aqua;
    opacity: 0;
}
img:hover {
    opacity: 100;
}
.image-container { 
    position: relative;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    display: block;
    transition: opacity 0.3s ease;
}

.image-container:hover .image-text {
    opacity: 0;
} */
 
.picture-container {
  display: flex;
  color: #ddd;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  max-width: 840px;
  height: 540px;
  background: linear-gradient(-45deg, transparent 70px, rgb(33, 33, 33));



  position: relative; 
}

.picture-container p {
  margin: 0; 
  transition: opacity 0.3s;
}

.picture-container:hover p {
  opacity: 0; 
}

.picture-container:hover {
  background-image: url("../images/1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.search-container {
  display: flex;
  max-width: 300px; 
  padding-top: 20px;
  margin: 0 auto;
}

.search-container input[type="text"] {
  flex: 1; 
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.search-container button[type="submit"] {
  padding: 10px 3px;
  width: 200px;
  background-color: rgb(27, 33, 33);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.search-container button[type="submit"]:hover {
  background-color: rgb(83, 147, 151);
}

.information__container {
  text-align: center;
  border: 1px solid #ccc;
  max-width: 840px;
  margin: 0px auto;
  background-color: rgb(33, 33, 33);
}

.submit__btn {
  margin-left: 40px;
}